body {
    text-align:center;
    background-color: #E4f9f5;
}

.navbar {
    background-color: #E4f9f5;
}

h1 {
    font-size:90px;
    color: #66bfbf;
}

h2 {
    color: #66bfbf;
}

h3 {
    color: #66bfbf;
}

.top-container {
    background-color: #E4f9f5;
    position: fixed;
    padding-top:100px;
    margin:auto;
}

.skill {
    width:50%;
    Margin: 100 px auto 100px;
}



.footer-link {
    margin-right:10px;
}

.tr {
    margin-right:5px;
}

.soon {
    background-color: #E4f9f5;
}

.contact-me {
    margin-bottom: 10px;
}

@media (max-width:575) {
    .profile {
        width: auto ;
        max-width: 100% ;
        height: auto ;
      }
}